/**
 * Variables
 */
 :root {
  --golden-ratio: 1.618;
  --cpl: 25;

  /* Font */
  --basic-font-size: 62.5%;

  --header-font-family: 'Impact', sans-serif;
  --header-font-size: 5rem;
  --header-line-height: calc(var(--entry-font-size) * var(--golden-ratio));

  --entry-font-family: 'Times New Roman', serif;
  --entry-font-size: 1.8rem;
  --entry-spacer: 2rem;
  --entry-line-height: calc(var(--entry-font-size) * var(--golden-ratio));

  --word-spacing: 0.05rem;
  --letter-spacing: -0.03rem;

  --container-width: calc(var(--cpl) * var(--entry-line-height));
}

/**
 * Reset
 */
html, body {
  margin: 0;
  padding: 0;
}

/**
 * Typography
 */
html {
  font-size: var(--basic-font-size);
}

body {
  font-family: var(--entry-font-family);
  font-size: var(--entry-font-size);
}

p,
q,
a,
li {
  line-height: var(--entry-line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

/**
 * Grid
 */
.container {
  display: flex;
  margin: 0 auto;
  max-width: var(--container-width);
}

/**
 * Article
 */
.entry-title {
  font-size: var(--header-font-size);
  font-family: var(--header-font-family);
  line-height: var(--header-line-height);
  letter-spacing: var(--letter-spacing);
  word-spacing: var(--word-spacing);
}

.entry-data p + .entry-data p {
  margin-top: var(--entry-spacer);
}


/**
 * Browser Dark Scheme
 */
@media (prefers-color-scheme: dark) {
  .browser-scheme {
    background: #000;
    color: #fff;
  }
}